{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<h3>Campaigner (ENFP)</h3>
<div>
    <p>Campaigners (ENFPs) are true free spirits – outgoing, openhearted, and open-minded. With their lively, upbeat approach to life, they stand out in any crowd. But even though they can be the life of the party, Campaigners don’t just care about having a good time. These personality types run deep – as does their longing for meaningful, emotional connections with other people.</p>

    <h5>Who is a Campaigner? (ENFP)</h5>

</div>
<div class="subtitle">
    A <b>Campaigner (ENFP)</b> is someone with the <b>Extraverted</b>, <b>Intuitive</b>, <b>Feeling</b>, and <b>Prospecting</b> personality traits. These people tend to embrace big ideas and actions that reflect their sense of hope and goodwill toward others. Their vibrant energy can flow in many directions.
</div>

    <h5>The Magic of Everyday Life</h5>

    <p>Friendly and outgoing, Campaigners are devoted to enriching their relationships and their social lives. But beneath their sociable, easygoing exteriors, they have rich, vibrant inner lives as well. Without a healthy dose of imagination, creativity, and curiosity, a Campaigner simply wouldn’t be a Campaigner.</p>
    
    <p>In their unique way, Campaigners can be quite introspective. They can’t help but ponder the deeper meaning and significance of life – even when they should be paying attention to something else. These personalities believe that everything – and everyone – is connected, and they live for the glimmers of insight that they can gain into these connections.</p>

    <p>When something sparks their imagination, Campaigners can show an enthusiasm that is nothing short of infectious. These personalities radiate a positive energy that draws in other people, and Campaigners may find themselves being held up by their peers as a leader or guru. But once the initial bloom of inspiration wears off, Campaigners can struggle with self-discipline and consistency, losing steam on projects that once meant so much to them.</p>

{% endblock %}