{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<h3>Consul (ESFJ)</h3>
<div>
    <p>For Consuls, life is sweetest when it’s shared with others. People with this personality type form the bedrock of many communities, opening their homes – and their hearts – to friends, loved ones, and neighbors.</p>

    <h5>Who is a Consul (ESFJ)?</h5>

</div>
<div class="subtitle">
    A <b>Consul (ESFJ)</b> is a person with the <b>Extraverted</b>, <b>Observant</b>, <b>Feeling</b>, and <b>Judging</b> personality traits. They are attentive and people-focused, and they enjoy taking part in their social community. Their achievements are guided by decisive values, and they willingly offer guidance to others.
</div>

    <h5>The Beauty of a Responsible Life</h5>

    <p>And Consuls believe that there is a clear right thing to do in nearly every situation. While some personality types adopt a more lenient, live-and-let-live attitude, Consuls may find it difficult not to judge when someone takes a path that strikes them as misguided. As a result, Consuls often struggle to accept it when someone – particularly someone they care about – disagrees with them.</p>

    <p>With their definite views on right and wrong, Consuls tend to be on the opinionated side. But these opinions aren’t arbitrary – they’re often based on a deep respect for tradition. Consuls know that everything they do affects someone else, and they trust that established laws, protocols, and social norms will help them navigate their everyday lives in a way that is considerate and responsible toward others.</p>

    <p>Consuls are altruists. They take seriously their responsibilities to give back, serve others, and do the right thing.</p>

{% endblock %}