{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<h3>Entertainer (ESFP)</h3>
<div>
    <p>If anyone is to be found spontaneously breaking into song and dance, it is the Entertainer personality type. Entertainers get caught up in the excitement of the moment, and want everyone else to feel that way, too. No other personality type is as generous with their time and energy as Entertainers when it comes to encouraging others, and no other personality type does it with such irresistible style.</p>

    <h5>Who is an Entertainer (ESFP)?</h5>

</div>
<div class="subtitle">
    An <b>Entertainer (ESFP)</b> is a person with the <b>Extraverted</b>, <b>Observant</b>, <b>Feeling</b>, and <b>Prospecting</b> personality traits. These people love vibrant experiences, engaging in life eagerly and taking pleasure in discovering the unknown. They can be very social, often encouraging others into shared activities.
</div>

    <h5>Living with Passion</h5>

    <p>Entertainers love the spotlight, and all the world’s a stage. Many famous people with the Entertainer personality type are indeed actors, but they love putting on a show for their friends too, chatting with a unique and earthy wit, soaking up attention and making every outing feel a bit like a party. Utterly social, Entertainers enjoy the simplest things, and there’s no greater joy for them than just having fun with a good group of friends.</p>

    <p>It’s not just talk either – Entertainers have the strongest aesthetic sense of any personality type. From grooming and outfits to a well-appointed home, Entertainer personalities have an eye for fashion. Knowing what’s attractive the moment they see it, Entertainers aren’t afraid to change their surroundings to reflect their personal style. Entertainers are naturally curious, exploring new designs and styles with ease.</p>

    <p>Though it may not always seem like it, Entertainers know that it’s not all about them – they are observant, and very sensitive to others’ emotions. People with this personality type are often the first to help someone talk out a challenging problem, happily providing emotional support and practical advice. However, if the problem is about them, Entertainers are more likely to avoid a conflict altogether than to address it head-on. Entertainers usually love a little drama and passion, but not so much when they are the focus of the criticisms it can bring.</p>

{% endblock %}