{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<h3>Advocate (INFJ)</h3>
<div>
    <p>Advocates (INFJs) may be the rarest personality type of all, but they certainly leave their mark on the world. Idealistic and principled, they aren’t content to coast through life – they want to stand up and make a difference. For Advocate personalities, success doesn’t come from money or status but from seeking fulfillment, helping others, and being a force for good in the world.</p>

    <h5>Who is an Advocate (INFJ)?</h5>

</div>
<div class="subtitle">
    An <b>Advocate (INFJ)</b> is someone with the <b>Introverted</b>, <b>Intuitive</b>, <b>Feeling</b>, and <b>Judging</b> personality traits. They tend to approach life with deep thoughtfulness and imagination. Their inner vision, personal values, and a quiet, principled version of humanism guide them in all things.
</div>

    <h5>Seeking Purpose</h5>

    <p>Perhaps because their personality type is so uncommon, Advocates tend to carry around a sense – whether conscious or not – of being different from most people. With their rich inner lives and their deep, abiding desire to find their life purpose, they don’t always fit in with those around them. This isn’t to say that Advocates can’t enjoy social acceptance or close relationships – only that they sometimes feel misunderstood or at odds with the world.</p>

    <p>Fortunately, this sense of being out of step doesn’t diminish Advocates’ commitment to making the world a better place. Advocates are troubled by injustice, and they typically care more about altruism than personal gain. They often feel called to use their strengths – including creativity, imagination, and sensitivity – to uplift others and spread compassion.</p>

    <p>Many Advocates see helping others as their mission in life, and they’re always looking for ways to step in and speak up for what is right. People with this personality type also aspire to fix society’s deeper problems, in the hope that unfairness and hardship can become things of the past. At times, however, Advocates may focus so intently on their ideals that they don’t take adequate care of themselves – a pattern that can lead to stress and burnout.</p>

{% endblock %}