{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<h3>Defender (ISFJ)</h3>
<div>
    <p>In their unassuming, understated way, Defenders help make the world go round. Hardworking and devoted, people with this personality type feel a deep sense of responsibility to those around them. Defenders can be counted on to meet deadlines, remember birthdays and special occasions, uphold traditions, and shower their loved ones with gestures of care and support. But they rarely demand recognition for all that they do, preferring instead to operate behind the scenes.</p>

    <h5>Who is a Defender (ISFJ)?</h5>

</div>
<div class="subtitle">
    A <b>Defender (ISFJ)</b> is someone with the <b>Introverted</b>, <b>Observant</b>, <b>Feeling</b>, and <b>Judging</b> personality traits. These people tend to be warm and unassuming in their own steady way. They’re efficient and responsible, giving careful attention to practical details in their daily lives.
</div>

    <h5>The Gift of Loyalty</h5>

    <p>Among Defenders’ most distinctive traits is loyalty. Rare is the Defender who allows a friendship or relationship to fade away from lack of effort. Instead, they invest a great deal of energy into maintaining strong connections with their loved ones – and not just by sending “How are you doing?” texts. People with this personality type are known for dropping everything and lending a hand whenever a friend or family member is going through a hard time.</p>

    <p>Defenders’ sense of loyalty doesn’t stop with their nearest and dearest – it often extends to their communities, their employers, and even family traditions. But the intensity of their commitment and desire to serve can have its downsides. Other people may take advantage of Defenders’ helpful, hardworking nature, leaving them feeling burned out and overworked. And Defenders may feel guilty or stressed when they contemplate changes – even necessary changes – to themselves, their relationships, or the way they’ve done things in the past.</p>

    <p>For Defenders, “good enough” is rarely good enough. People with this personality type can be meticulous to the point of perfectionism. They take their responsibilities personally, consistently going above and beyond and doing everything that they can to exceed others’ expectations.</p>

{% endblock %}