{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<h3>Adventurer (ISFP)</h3>
<div>
    <p>Adventurers are true artists – although not necessarily in the conventional sense. For this personality type, life itself is a canvas for self-expression. From what they wear to how they spend their free time, Adventurers act in ways that vividly reflect who they are as unique individuals.</p>

    <h5>Who is an Adventurer (ISFP)?</h5>

</div>
<div class="subtitle">
    An <b>Adventurer (ISFP)</b> is a person with the <b>Introverted</b>, <b>Observant</b>, <b>Feeling</b>, and <b>Prospecting</b> personality traits. They tend to have open minds, approaching life, new experiences, and people with grounded warmth. Their ability to stay in the moment helps them uncover exciting potentials.
</div>

    <h5>The Beauty of an Open Mind</h5>

    <p>Adventurers embrace a flexible, adaptable approach to life. Some personality types thrive on strict schedules and routines – but not Adventurers. Adventurers take each day as it comes, doing what feels right to them in the moment. And they make sure to leave plenty of room in their lives for the unexpected – with the result that many of their most cherished memories are of spontaneous, spur-of-the-moment outings and adventures, whether by themselves or with their loved ones.</p>

    <p>This flexible mindset makes Adventurers remarkably tolerant and open-minded. These personalities genuinely love living in a world filled with all kinds of people – even people who disagree with them or choose radically different lifestyles. It’s no surprise, then, that Adventurers are unusually open to changing their minds and rethinking their opinions. If any personality type believes in giving something (or someone) a second chance, it’s Adventurers.</p>

    <p>That said, Adventurers’ go-with-the-flow mentality can have its downsides. People with this personality type may struggle to set long-term plans – let alone stick with them. As a result, Adventurers tend to have a pretty cloudy view of their ability to achieve their goals, and they often worry about letting other people down. Adventurers may find that adding a little structure to their lives goes a long way toward helping them feel more capable and organized – without quashing their independent spirits.</p>

{% endblock %}