{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<h3>Logistician (ISTJ)</h3>
<div>
    <p>Logisticians pride themselves on their integrity. People with this personality type mean what they say, and when they commit to doing something, they make sure to follow through.</p>

    <h5>Who is a Logistician (ISTJ)?</h5>

</div>
<div class="subtitle">
    A <b>Logistician (ISTJ)</b> is someone with the <b>Introverted</b>, <b>Observant</b>, <b>Thinking</b>, and <b>Judging</b> personality traits. These people tend to be reserved yet willful, with a rational outlook on life. They compose their actions carefully and carry them out with methodical purpose.
</div>

    <h5>A Life of Integrity</h5>

    <p>The core of Logisticians’ self-respect comes from a sense of personal integrity. People with this personality type believe that there is a right way to proceed in any situation – and that anyone who pretends otherwise is probably trying to bend the rules to suit their own purposes. Logisticians have a deep respect for structure and tradition, and they are often drawn to organizations, workplaces, and educational settings that offer clear hierarchies and expectations.</p>

    <p>People with the Logistician personality type rarely hesitate to take responsibility for their actions and choices. Generally speaking, they are quick to own up to their own mistakes, admitting the truth even if it doesn’t make them look good. To Logisticians, honesty is far more important than showmanship, and they’d rather satisfy their own conscience than lie to impress someone else.</p>

    <p>Because they strive to meet their obligations no matter what, Logistician personalities are often baffled by people who fail to hold themselves to the same standard. At times, Logisticians might unfairly misjudge people who can’t match their rigorous self-control – suspecting that someone is being lazy or dishonest when that person might actually be coping with other challenges. Even if Logisticians don’t speak these judgments aloud, their disdain can come through regardless, earning them a reputation for being somewhat strict or unempathetic.</p>

{% endblock %}