{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<h2>Personality types</h2>


<h4>Analysts</h4>


<div class="type">
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/intj" class="type">Architect (INTJ)</a>
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/intp" class="type">Logician (INTP)</a>
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/entj" class="type">Commander (ENTJ)</a>
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/entp" class="type">Debater (ENTP)</a>
</div>

<h4>Diplomats</h4>

<div class="type">
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/infj" class="type">Advocate (INFJ)</a>
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/infp" class="type">Mediator (INFP)</a>
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/enfj" class="type">Protagonist (ENFJ)</a>
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/enfp" class="type">Campaigner (ENFP)</a>
</div>

<h4>Sentinels</h4>

<div class="type">
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/istj" class="type">Logistician (ISTJ)</a>
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/isfj" class="type">Defender (ISFJ)</a>
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/estj" class="type">Executive (ESTJ)</a>
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/esfj" class="type">Consul (ESFJ)</a>
</div>

<h4>Explorers</h4>

<div class="type">
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/istp" class="type">Virtuoso (ISTP)</a>
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/isfp" class="type">Adventurer (ISFP)</a>
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/estp" class="type">Entrepreneur (ESTP)</a>
    <a href="https://damikk19-code50-78103350-97q6j4999fpjv6-5000.githubpreview.dev/esfp" class="type">Entertainer (ESFP)</a>
</div>
{% endblock %}